

<div class="container-fluid mt-2 p-5" >
    <div class="row">
        <div class="col-5 jumbot ron" style="border-radius: 10px;background-color: burlywood;" >

<form #f ="ngForm" name ="form" (submit)="onSubmit(f)" style="color: black;" autocomplete="off"  >
  <br>

    <div class="form-group" [class.has-error]='firstname.invalid  && firstname.touched '> 
      <label>FullName: </label>
      <input required  [(ngModel)]="emp.name" name="name" type="text" class="form-control" #firstname="ngModel">
      <span class="help-block" style="color: red;" *ngIf='firstname.invalid  && firstname.touched '>Fullname is required</span>
    </div>
    
     
      <div class="form-group">
        <label>Email: </label>
        <input  [(ngModel)]="emp.email" name="email" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Picture Source: </label>
        <input [(ngModel)]="emp.photo" name="photo" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>ID: </label>
        <input [(ngModel)]="emp.id" name="id" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Skills: </label>
        <input [(ngModel)]="emp.skills" name="skills" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>EmployeeID: </label>
        <input  [(ngModel)]="emp.employeeid" name="employeeid" type="number" class="form-control">
      </div>
     
    
    
    <button class="but" type="submit" class="btn btn-success">Submit</button>
    <br>
    {{submit}}
  </form>
</div>
</div>
</div>

