<div><mat-toolbar class="mat-elevation-z5">
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="example-icon"(click)="logoutt()" *ngIf="loggedinn()" >
      <mat-icon>login</mat-icon>
    </button>
    <a *ngIf="loggedinn()"><button mat-icon-button [matMenuTriggerFor]="ss" style="margin-left: 175vh;"><img src="{{srcc.photo}}" width="50" height="50"><mat-menu #ss="matMenu">
      <mat-card>
        <img mat-card-image src="{{srcc.photo}}" alt="Photo of a Shiba Inu">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Name:{{srcc.username}}</mat-card-title>

      </mat-card-header> </mat-card>
    </mat-menu></button></a>
    
    <span class="example-spacer"></span>
     <mat-icon class="bsh">B/S/H</mat-icon>
  </mat-toolbar></div>
  <mat-sidenav-container   >
      <mat-sidenav opened mode="side" *ngIf="loggedinn()">
    <mat-nav-list>
      <mat-list role="list">
        <mat-list-item role="listitem" routerLink='emp'><mat-icon>explore</mat-icon>Employee</mat-list-item>
         <mat-divider></mat-divider>
         <mat-list-item role="listitem" routerLink='add'><mat-icon>explore</mat-icon>AddEmployee</mat-list-item>
       
        
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content><p>
    <router-outlet></router-outlet>
  </p></mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  